* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.authentication-container {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-box {
  background: linear-gradient(to right, #ffdada, #ffffff);
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #8b0000;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #8b0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #8b0000bc;
}
.signup-box {
  background: linear-gradient(to right, #ffdada, #ffffff);
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;

  text-align: center;
}
